@import "./scss/constant.scss";
.wrapper {
  overflow: hidden;
  .container {
    padding: 20px;
  }
}

.color-base {
  color: $base-color;
}

.snippet {
  width: 100%;
  position: relative;
  background: #fff;
  padding: 2rem 5%;
  margin: 1.5rem 0;
  box-shadow: 0 0.4rem 0.8rem -0.1rem rgba(0, 32, 128, 0.1), 0 0 0 1px #f0f2f7;
  border-radius: 0.25rem;
}
