@import "../../scss/constant.scss";

.call-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 20px;
}

.myId {
  width: 24%;
  border: 1px solid #fc6d05;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 225px;
  padding: 0 20px;
  border-radius: 6px;
}

.call-button {
  text-align: center;
  margin-top: 2rem;
  color: $base-color;
  border-radius: 6px;
}

.padding-base {
  padding: 6px 0px;
}

.width-300 {
  width: 300px;
}

.form-control {
  padding: 6px 0;
  border-radius: 6px;
}

.video-container {
  width: 70%;
  display: flex;
  justify-content: center;
}

.video {
  display: flex;
  justify-content: center;
  width: 50%;
}

.caller {
  text-align: center;
  color: $base-color;
}

.btn-call {
  background: linear-gradient(180deg, #eb1e68 0%, #fc6d05 100%);
  border: none;
  outline: none;
  color: #fff;
  border-radius: 6px;
  width: 100%;
  padding: 6px 20px;
}

body {
  background-color: #fff;
  color: $base-color;
}

.stage {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 2rem 0;
  margin: 0 -5%;
  overflow: hidden;
}

.dot-pulse {
  margin-left: 20px;
  display: inline-block;
  position: relative;
  left: -9999px;
  width: 4px;
  height: 4px;
  border-radius: 5px;
  background-color: $base-color;
  color: $base-color;
  box-shadow: 9999px 0 0 -5px $base-color;
  animation: dotPulse 1.5s infinite linear;
  animation-delay: 0.25s;
}

.dot-pulse::before,
.dot-pulse::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  width: 4px;
  height: 4px;
  border-radius: 5px;
  background-color: $base-color;
  color: $base-color;
}

.dot-pulse::before {
  box-shadow: 9984px 0 0 -5px $base-color;
  animation: dotPulseBefore 1.5s infinite linear;
  animation-delay: 0s;
}

.dot-pulse::after {
  box-shadow: 10014px 0 0 -5px $base-color;
  animation: dotPulseAfter 1.5s infinite linear;
  animation-delay: 0.5s;
}

@keyframes dotPulseBefore {
  0% {
    box-shadow: 9984px 0 0 -5px $base-color;
  }
  30% {
    box-shadow: 9984px 0 0 2px $base-color;
  }
  60%,
  100% {
    box-shadow: 9984px 0 0 -5px $base-color;
  }
}

@keyframes dotPulse {
  0% {
    box-shadow: 9999px 0 0 -5px $base-color;
  }
  30% {
    box-shadow: 9999px 0 0 2px $base-color;
  }
  60%,
  100% {
    box-shadow: 9999px 0 0 -5px $base-color;
  }
}

@keyframes dotPulseAfter {
  0% {
    box-shadow: 10014px 0 0 -5px $base-color;
  }
  30% {
    box-shadow: 10014px 0 0 2px $base-color;
  }
  60%,
  100% {
    box-shadow: 10014px 0 0 -5px $base-color;
  }
}
